{% extends 'base.html.twig' %}

{% block title %}
  Hello HistoriqueCommandesController!
{% endblock %}

{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  <h1 class="historiqueH1">Historique des commandes</h1>
  <table class="table">
    <tr class="text-warning">
      <th>Date de la commande</th>
      <th>Nom Client</th>
      <th>Adresse de livraison</th>
      <th>Produit(s)</th>
      <th>prix</th>
      <th>Quantité</th>
      <th>Total</th>
    </tr>
    {% for commande in historicCommande %}
      {% if commande.id is defined %}
        <tr class="text-warning">
          <td>{{ commande.dateCommande|date('Y-m-d') }}</td>
          <td>{{ commande.client.nom }} {{ commande.client.prenom }}</td>
          <td>{{ commande.adresseLivraison }}
            ,
            {{ commande.ville }}
            ,
            {{ commande.codePostal }}
            ,
            {{ commande.pays }}</td>
          <td>
            {% for plante in commande.plante %}
              {{ plante.nomPlante }}
              {% if not loop.last %}
                ,<div style="padding: 8px 0 ;"></div>
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for plante in commande.plante %}
              {{ plante.prixPlante }}
              €{% if not loop.last %}
                <div style="padding: 8px 0 ;"></div>
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for quantite in commande.quantites %}
              {{ quantite.quantite }} {% if not loop.last %}
                <div style="padding: 8px 0 ;"></div>
              {% endif %}
            {% endfor %}
          </td>
          <td>{{ commande.total|number_format(2, ',', 'fr') }}
            €</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}
