{% extends 'base.html.twig' %}

{% block title %}
  Hello HistoriqueCommandesController!
{% endblock %}

{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  <h1 class="historiqueH1">Historique des commandes</h1>
  <table class="table table_historic">
    <tr class="text-warning">
      <th>Date de la commande</th>
      <th>Nom Client</th>
      <th>Adresse de livraison</th>
      <th>Produit(s)</th>
      <th>prix</th>
      <th>Quantité</th>
      <th>Total</th>
    </tr>
    {% for commandeAvecDetails in commandesAvecDetails %}
      <tr class="text-warning">
        <td>{{ commandeAvecDetails.commande.dateCommande|date('d-m-Y') }}</td>
        {% for adresse in commandeAvecDetails%}
          <td>{{adresse.nomComplet}}</td>
        {% endfor %}
        <td>
          {% for detail in commandeAvecDetails.details %}
            {{ detail.plante.nomPlante }}
            {% if not loop.last %}
              ,<div style="padding: 8px 0 ;"></div>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for detail in commandeAvecDetails.details %}
            {{ detail.plante.prixPlante }} €{% if not loop.last %}
              <div style="padding: 8px 0 ;"></div>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for detail in commandeAvecDetails.details %}
            {{ detail.quantite }}
            {% if not loop.last %}
              <div style="padding: 8px 0 ;"></div>
            {% endif %}
          {% endfor %}
        </td>
        <td>{{ commandeAvecDetails.commande.total|number_format(2, ',', 'fr') }} €</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
