{% extends 'base.html.twig' %}

{% block title %}
  Hello AchatsController!
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('assets/js/structure.js') }}"></script>
{% endblock %}
{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  <div class="achat-accueil">
    <div class="d-flex justify-content-around align-items-center">
      <div class="w-25"></div>
      <div class="w-25 titre-plante">
        <h2 class="text-center m-3">Plantes disponibles à l'achat</h2>
      </div>
      <div class="d-flex justify-content-end" id="relative-div">
        {{ form_start(form) }}
        {{ form_widget(form.search) }}
        <div class="recherche-retour-div">
          <button type="submit" class="btn rechercher">Rechercher</button>
          <a href="{{ path('app_achats') }}" class="retour-liste">Retour liste</a>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      {% for plantes in plante %}
        {% if plantes.nomPlante matches '/.*' ~ form.search.vars.value ~ '.*/i' %}
          <div class="card m-5 plantesResults" style="width: 18rem;">
            <div class="img-card">
              <img src="{{ asset('images/plantes/' ~ plantes.image) }}" class="card-img-top" alt="{{ plantes.nomPlante }}" />
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{ plantes.nomPlante }}</h5>
              <a href="{{ url('details', { id: plantes.id }) }}" class="btn btn-warning change-btn">Voir la plante en détail</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
