{% extends 'base.html.twig' %}

{% block title %}
	Hello AchatsController!
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/structure.js') }}"></script>
{% endblock %}
{% block body %}
	{% include 'navbar/navbar.html.twig' %}
	{% if app.request.attributes.get('_route') == 'recapp_commande' %}{% endif %}
	<div class="achat-accueil {{ css }}">
		<div class="d-flex justify-content-around align-items-center block-mobile	">
			<div class="w-25 none-mobile"></div>
			<div class="w-25 titre-plante">
				<h2 class="text-center m-3 titre-site">Produits disponibles à l'achat</h2>
				<input type="search" name="plante_search" id="plante_search" placeholder="Recherche"/>
			</div>
			<div class="d-flex justify-content-end w-25" id="relative-div"></div>
		</div>
		<div class="produits-categories">
			<div class="d-flex flex-wrap justify-content-center relative">
				{% for item in pagination.getCurrentPageResults() %}
					<div class="card m-5 plantesResults relative-div-achats" style="width: 18rem;" data-nom="{{ item.nom_produit }}">
						<div class="img-card">
							<img src="{{ asset('images/produits/' ~ item.image) }}" class="card-img-top" alt="{{item.nom_produit }}"/>
						</div>
						<div class="card-body text-center">
							<h5 class="card-title">{{item.nom_produit }}</h5>
							<a href="{{ url('details', { id: item.id, categorie: item.categorie }) }}" class="btn btn-warning change-btn">Voir l'article en détail</a>
						</div>
						<span class="absolute-prix" style="text-align:center">{{item.prix_produit }}€</span>
					</div>
				{% endfor %}
				{% if pagination.hasPreviousPage() %}
					<a href="{{ path('app_achats', {categorie: 1, 'page': pagination.previousPage}) }}" id="previous">Page précédente</a>
				{% endif %}
				{% if pagination.hasNextPage() %}
					<a href="{{ path('app_achats', {categorie: 1, 'page': pagination.nextPage}) }}" id="next">Page suivante</a>
				{% endif %}
			</div>
		</div>
	</div>
		{% include 'footer/footer.html.twig' %}
{% endblock %}
