{% extends 'base.html.twig' %} {% block body %}
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <h2 class="me-3 text-warning">Le Naturel Au Vert</h2>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="{{ path('app_achats') }}">Accueil</a>
          </li>
          {% if app.user is empty %}
            <li class="nav-item">
              <a class="nav-link text-warning" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="{{ path('app_register') }}">Inscription</a>
            </li>
          {% else %}
            {% if 'ROLE_ADMIN' in app.user.roles %}
              <li>
                <a class="nav-link text-warning" href="{{ path('app_logout') }}">Déconnexion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href="{{ path('admin') }}">Page Admin</a>
              </li>
            {% else %}
              <li>
                <a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
              </li>
            {% endif %}
            <li>
              <a class="nav-link text-warning" href="{{ path('app_historique_commandes') }}">Historique des commandes</a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% if app.user %}
        <a class="navbar-brand text-warning">Bienvenu(e) {{ app.user.prenom }}</a>
        <li class="list-unstyled me-5">
          <a href="{{ path('app_panier') }}">
            {% if app.request.attributes.get('_route') != 'recapp_commande' %}
              <i class="fa-solid fa-cart-shopping nav-link" id="nav_panier"><span id="nb_articles"></span></i>
            {% else %}

            {% endif %}
          </a>
        </li>
      {% endif %}
    </div>
  </nav>
{% endblock %}
