{% extends 'base.html.twig' %}

{% block title %}
  commandes
{% endblock %}

{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  {% if app.session.get('commande') %}
    <div class="recap">
      <h1>Récapitulatif de la commande</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Produit</th>
            <th class="td-quantite">Quantité</th>
            <th class="td-prix">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataCommande['commandeData'] %}
            <tr>
              <td class="td-nom">{{ data.alt }}</td>
              <td class="td-quantite">{{ data.quantite }}</td>
              <td class="td-prix">{{ data.prix * data.quantite }}€</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td class="ttG"></td>
            <td class="ttG"></td>
            <td class="ttG">{{ dataCommande.totalGeneral }}€</td>
          </tr>
        </tfoot>
      </table>
      <h3 class="livraisonh3">Adresse de livraison :</h3>
      {% if adresseValide is defined %}
        <div class="livraison">
          <div class="adresselivraison">
            <p>Mme/Mr</p>
            <p>{{ userInfo.nom }} {{ userInfo.prenom }}</p>
            <p></p>
            <p>{{ adresseLivraison }}</p>
            <p>{{ codePostal }} {{ ville }}</p>
            <p>{{ pays }}</p>
          </div>
        </div>
      {% else %}
        <a href="{{ path('app_adresse') }}">Définir</a>
      {% endif %}
      <a href="{{ path('app_paiement', { ids: dataCommande['commandeData']|column('id')|join(','), total: dataCommande.totalGeneral }) }}">Payer</a>
    </div>
  {% endif %}
{% endblock %}
